<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user-page/layout/index :: dynamic(~{::main})}">

<body>
	<main>
	    <!-- Title page -->
	    <section
	      class="bg-img1 txt-center p-lr-15 p-tb-92"
	      th:style="'background-image: url(\'' + @{/user-page/images/bg-01.jpg} + '\')'"
	    >
	      <h2 class="ltext-105 cl0 txt-center">GIỚI THIỆU FSPORT</h2>
	    </section>
	
	    <!-- Content page -->
	    <section class="bg0 p-t-75 p-b-120">
	      <div class="container">
	        <div class="row p-b-148">
	          <div class="col-md-7 col-lg-8">
	            <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
	              <h3 class="mtext-111 cl2 p-b-16">Sứ mệnh của chúng tôi</h3>
	
	              <p class="stext-113 cl6 p-b-26">
	                Bạn có nghĩ tại sao bây giờ có rất rất nhiều khách mua dụng cụ
	                thể thao , dụng cụ tập tập gym lại chọn shop thể thao COZA để
	                mua hàng thay vì mua ở các shop khác không ? Vì chúng tôi đã xây
	                dựng đựng cho mình 1 thương hiệu uy tín bền vững trong lòng
	                khách hàng , họ họ truyền tai nhau về uy tín tốt đẹp của chúng
	                tôi….vì sứ mệnh của chúng tôi là mang lại vẻ đẹp , sức khỏe thể
	                chất và tinh thần cho cộng đồng thông qua những sản phẩm chăm
	                sóc sức khỏe tốt , nhưng chia sẻ về các bài viết hay liên quan
	                đến sữ khỏe , tập luyện cho mọi người.
	              </p>
	
	              <p class="stext-113 cl6 p-b-26">
	                So với các shop bán hàng khác, bán các sản phẩm hay dịch vụ khác
	                thì chúng tôi chọn sản phẩm của mình là dụng cụ thể thao, nó có
	                ý nghĩa rất lớn vì nó đem lại sức khỏe cho mọi người ….các cụ đã
	                từng nói, có sức khỏe là có tất cả…và ngoài sức khỏe ra thì bạn
	                còn có body đẹp , tinh thần tự tin sảng khoái và không stress do
	                công việc nữa.
	              </p>
	            </div>
	          </div>
	
	          <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
	            <div class="how-bor1">
	              <div class="hov-img0">
	                <img th:src="@{/user-page/images/sl02.jpg}" alt="IMG" />
	              </div>
	            </div>
	          </div>
	        </div>
	
	        <div class="row">
	          <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
	            <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
	              <h3 class="mtext-111 cl2 p-b-16">Nhiệm vụ của chúng tôi</h3>
	
	              <p class="stext-113 cl6 p-b-26">
	                Chúng tôi không chỉ bán hàng, chúng tôi luôn chia sẻ các bài
	                viết liên quan đến sức khỏe , tư vấn dụng cụ tập thể dục tốt
	                nhất cho các nhu cầu của khách hàng. Mua hàng của chúng tôi ,
	                bạn có cơ hội tham gia vào cộng đồng những người yêu thể thao ,
	                yêu thể dục , yêu tập gym và biết trân trọng giá trị sức khỏe
	                bản thân. Với mong muốn góp phần vào phát triển thể thao cộng
	                đồng và đem lại sức khỏe cho tất cả mọi người, Thể thao 360 rất
	                mong nhận được những ý kiến đóng góp và phản hồi từ Quý khách
	                hàng, để chúng tôi có thể phục vụ Quý khách ngày một tốt hơn.
	              </p>
	
	              <div class="bor16 p-l-29 p-b-9 m-t-22">
	                <p class="stext-114 cl6 p-r-40 p-b-11">
	                  Creativity is just connecting things. When you ask creative
	                  people how they did something, they feel a little guilty
	                  because they didn't really do it, they just saw something. It
	                  seemed obvious to them after a while.
	                </p>
	
	                <span class="stext-111 cl8"> - Steve Job’s </span>
	              </div>
	            </div>
	          </div>
	
	          <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
	            <div class="how-bor2">
	              <div class="hov-img0">
	                <img th:src="@{/user-page/images/slide4.jpg}" alt="IMG" />
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </section>
	</main>
	
</body>
</html>