<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user-page/layout/index :: dynamic(~{::main})}">

<body>
	<main>
		<!-- breadcrumb -->
		<div class="container">
			<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
				<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
					Trang Chủ <i class="fa fa-angle-right m-l-9 m-r-10"
					aria-hidden="true"></i>
				</a> <span class="stext-109 cl4"> Danh Sách Sản Phẩm Yêu Thích</span>
			</div>
		</div>

		<!-- Product -->
		<div class="bg0 m-t-23 p-b-40">
			<div class="container">
				<div class="row">
					<th:block th:if="${isProductNull}">
						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35"
							th:each="product : ${products.content}">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img th:src="@{${product.image.imageName1}}" alt="IMG-PRODUCT" />
									<!-- Button trigger modal -->
									<a type="button"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04"
										data-toggle="modal"
										th:data-target="'#getProduct_' + ${product.productId}"
										ng-click="setQuantity()">Thêm</a>

									<!-- Modal -->
									<div class="modal fade"
										th:id="'getProduct_' + ${product.productId}" tabindex="-1"
										aria-labelledby="exampleModalLabel" aria-hidden="true"
										style="padding-top: 200px;">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-body">
													<form class="size-204 flex-w flex-m respon6-next">
														<div class="wrap-num-product flex-w m-r-20 m-tb-10">
															<input style="display: none"
																class="mtext-104 cl3 txt-center num-product" type="text"
																name="productId" th:value="${product.productId}" />
															<div
																class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m"
																ng-click="decreaseQuantity()">
																<i class="fs-16 zmdi zmdi-minus"></i>
															</div>

															<input class="mtext-104 cl3 txt-center num-product"
																type="number" name="quantity" ng-model="quantity" />

															<div
																class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m"
																ng-click="increaseQuantity()">
																<i class="fs-16 zmdi zmdi-plus"></i>
															</div>

														</div>

														<button type="submit"
															class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail"
															th:attr="ng-click='cart.add(\'' + ${product.productId} + '\')'">
															Thêm vào giỏ</button>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l">
									<a th:href="@{|/product/product-detail?id=${product.productId}|}"
										class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 js-name-detail"
										th:text="${product.productName}"> </a> <span
										class="stext-105 cl3"
										th:text="${#numbers.formatDecimal(product.sellingPrice, 0, 'POINT', 0, 'COMMA')} + ' VND'">
									</span>
								</div>

								<div class="block2-txt-child2 flex-r p-t-3">
									<a th:href="@{|/user/favorite/remove?id=${product.productId}|}">
										<i style="color: blue;font-size: 20px;" class="bx bxs-heart"></i>
									</a>
								</div>
							</div>
						</div>
					</th:block>
					<th:block th:unless="${isProductNull}">
						<p>Không có sản phẩm hiển thị</p>
					</th:block>
				</div>
			</div>

			<!-- Load more -->
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-item" th:if="${products.number > 0}"><a
						class="page-link" th:href="@{|/user/favorite?page=0|}"
						aria-label="First"> <span aria-hidden="true">&laquo;&laquo;</span>
					</a></li>
					<li class="page-item" th:if="${products.number > 0}"><a
						class="page-link"
						th:href="@{|/user/favorite?page=${products.number-1}|}"
						aria-label="Previous"> <span aria-hidden="true">&gt;</span>
					</a></li>
					<li class="page-item" th:each="number : ${pageNumbers}"><a
						class="page-link" th:href="@{|/user/favorite?page=${number-1}|}"
						th:text="${number}"></a></li>
					<li class="page-item"
						th:if="${products.number < products.totalPages-1}"><a
						class="page-link"
						th:href="@{|/user/favorite?page=${products.number+1}|}"
						aria-label="Next"> <span aria-hidden="true">&gt;</span>
					</a></li>
					<li class="page-item"
						th:if="${products.number < products.totalPages-1}"><a
						class="page-link"
						th:href="@{|/user/favorite?page=${products.totalPages-1}|}"
						aria-label="Last"> <span aria-hidden="true">&raquo;</span>
					</a></li>
				</ul>
			</nav>

		</div>
	</main>
	<script th:inline="javaScript">
			var mess = /*[[${mess}]]*/ '3';
			if(mess==1){
				alert('Sản phẩm đã được xóa khỏi danh sách yêu thích')
			}
		</script>
</body>
</html>