<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user-page/layout/index :: dynamic(~{::main})}">

<body>
	<main>
		<!-- breadcrumb -->
		<div class="container">
			<div class="bread-crumb flex-w p-r-15 p-t-30 p-lr-0-lg">
				<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
					Trang Chủ <i class="fa fa-angle-right m-l-9 m-r-10"
					aria-hidden="true"></i>
				</a> <a href="product.html" class="stext-109 cl8 hov-cl1 trans-04">
					Lịch sử mua hàng </a>

			</div>
		</div>

		<!-- Content -->
		<div class="container">
			<div class="row">
				<div class="col">
					<h4 class="mb-3 mt-5">Lịch Sử Mua Hàng</h4>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Mã đơn hàng</th>
								<th scope="col">Số lượng</th>
								<th scope="col">Tiền sản phẩm</th>
								<th scope="col">Phí giao hàng</th>
								<th scope="col">Tổng tiền</th>
								<th scope="col">Ngày tạo</th>
								<th scope="col">Thanh toán</th>
								<th scope="col">Giao hàng</th>
								<th scope="col">Chi Tiết</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="order : ${orders}">
								<td th:text="${order.orderId}"></td>
								<td th:text="${order.quantity}"></td>
								<td th:text="${#numbers.formatDecimal(order.orderAmount, 0, 'POINT', 0, 'COMMA')} + ' VND'"></td>

								<td th:text="${#numbers.formatDecimal(order.orderInfo.transport.transportFee, 0, 'POINT', 0, 'COMMA')}+' VND'"></td>
								<td th:text="${#numbers.formatDecimal(order.orderAmount + order.orderInfo.transport.transportFee,0, 'POINT', 0, 'COMMA')}+' VND'"></td>
								<td th:text="${order.createDate}"></td>
								<td th:text="${order.orderStatus}"></td>
								<td th:text="${order.orderInfo.transport.transportStatus} ? 'Đã giao hàng' : 'Chưa giao hàng'"></td>
								<td>
									<!-- Button trigger modal -->
									<button type="button" class="btn btn-primary"
										data-toggle="modal"
										th:data-target="'#exampleModalCenter_'+${order.orderId}">
										Xem</button> <!-- Modal -->
									<div class="modal modal-xl fade"
										th:id="'exampleModalCenter_'+${order.orderId}" tabindex="-1"
										role="dialog" aria-labelledby="exampleModalCenterTitle"
										aria-hidden="true" style="z-index: 2000; padding-top: 10%;">
										<div class="modal-dialog modal-dialog-centered"
											role="document">
											<div class="modal-content"
												style="width: 1000px; position: relative; left: -50%">
												<div class="modal-header">
													<h3 class="ml-5 mb-4">Chi tiết đơn hàng</h3>
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<table class="table ml-4" style="width: 95%">
														<thead>
															<tr>
																<th scope="col">Số thứ tự</th>
																<th scope="col">Tên sản phẩm</th>
																<th scope="col">Giá sản phẩm</th>
																<th scope="col">Tên loại</th>
																<th scope="col">Kích cỡ</th>
																<th scope="col">Màu</th>
																<th scope="col">Số lượng</th>
																<th scope="col">Thành tiền</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="orderDetail,status : ${order.orderDetails}">
																<td th:text="${status.index+1}"></td>
																<td th:text="${orderDetail.product.productName}"></td>
																<td th:text="${#numbers.formatDecimal(orderDetail.product.sellingPrice,0, 'POINT', 0, 'COMMA')}+' VND'"></td>
																<td th:text="${orderDetail.product.subcategory.category.categoryName}"></td>
																<td th:text="${orderDetail.product.size.sizeName}"></td>
																<td th:text="${orderDetail.product.color.colorName}"></td>
																<td th:text="${orderDetail.productQuantity}"></td>
																<td th:text="${#numbers.formatDecimal(orderDetail.productPrice,0, 'POINT', 0, 'COMMA')}+' VND'"></td>
															</tr>
															<!-- Thêm các dòng khác tương tự -->
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		
	</main>
</body>
</html>