<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user-page/layout/index :: dynamic(~{::main})}">

<body>
	<main>
	    <!-- breadcrumb -->
	    <div class="container">
	      <div class="bread-crumb flex-w p-r-15 p-t-30 p-lr-0-lg">
	        <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
	          Trang Chủ
	          <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
	        </a>
	
	        <a href="product.html" class="stext-109 cl8 hov-cl1 trans-04">
	          Lịch sử mua hàng
	        </a>

	      </div>
	    </div>
	
	    <!-- Content -->
	    <div class="container">
	      <div class="row">
	        <div class="col-3 mt-4">
	          <ul class="list-group">
	            <a th:href="@{/user/info}"><li class="mb-1 mt-3">Thông tin người dùng</li></a> 
	            <a th:href="@{/user/list-order}"><li class="mb-1 mt-3 list-group-item active" >Lịch sử mua hàng</li></a> 
	          </ul>
	        </div>
	        <div class="col-9">
	          <h4 class="mb-3 mt-5">Lịch Sử Mua Hàng</h4>
	          <table class="table">
	            <thead>
	              <tr>
	                <th scope="col">Mã đơn hàng</th>
	                <th scope="col">Số lượng</th>
	                <th scope="col">Tổng tiền</th>
	                <th scope="col">Ngày tạo</th>
	                <th scope="col">Trạng thái</th>
	                <th scope="col">Chi Tiết</th>
	              </tr>
	            </thead>
	            <tbody>
	              <tr>
	                <td>DH002</td>
	                <td>5</td>
	                <td>500,000 VND</td>
	                <td>2023-06-07</td>
	                <td>Đang xử lý</td>
	                <td>
	                  <a href="" class="btn btn-outline-primary js-show-modal2"
	                    >Xem</a
	                  >
	                </td>
	              </tr>
	            </tbody>
	          </table>
	        </div>
	      </div>
	    </div>
	
	    <!-- Modal chi tiet don hang -->
	    <div class="wrap-modal2 js-modal2 p-t-60 p-b-20">
      <div class="overlay-modal2 js-hide-modal2"></div>

      <div class="container" style="width: 70%">
        <div class="bg0 p-t-40 p-b-30 ">
          <button class="close js-hide-modal2 pr-3" style="font-size: 30px" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <div class="row">
            <h3 class="ml-5 mb-4">Chi tiết đơn hàng</h3>
            <table class="table ml-4" style="width: 95%">
              <thead>
                <tr>
                  <th scope="col">Số thứ tự</th>
                  <th scope="col">Tên sản phẩm</th>
                  <th scope="col">Tên loại</th>
                  <th scope="col">Kích cỡ</th>
                  <th scope="col">Màu</th>
                  <th scope="col">Giá sản phẩm</th>
                  <th scope="col">Số lượng</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Sản phẩm A</td>
                  <td>Loại A</td>
                  <td>L</td>
                  <td>Đen</td>
                  <td>1,000,000 VND</td>
                  <td>10</td>
                </tr>
                <!-- Thêm các dòng khác tương tự -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
	</main>
</body>
</html>