<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin-page/layout/index :: dynamic(~{::main})}">

<body>
	<main>
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="javascript:void(0);">Sản Phẩm</a>
                </li>
                <li class="breadcrumb-item active">Danh Sách Sản Phẩm</li>
              </ol>

              <!-- Basic Layout -->
              <div class="card" style="height: 495px">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h5 class="mb-0 text-uppercase" th:text="${title}"></h5>
                </div>
                <div class="card-body">
                  <form class="row" th:object="${brand}" th:action="@{/admin/brandAdd/create}" method="post">
                    <div class="col-6 mb-3">
                      <label class="form-label" for="basic-default-fullname">Mã Thương Hiệu</label>
                      <input type="text" class="form-control" id="basic-default-fullname" placeholder="vd: TH001..." th:field="*{brandId}"/>
                    </div>
                    <div class="col-6 mb-3">
                      <label class="form-label" for="basic-default-fullname" >Tên Thương Hiệu</label>
                      <input
                        type="text"
                        class="form-control"
                        id="basic-default-fullname"
                        placeholder="vd: LuisVuton..." th:field="*{brandName}"
                      />
                    </div>
                    <div class="col-6 mb-3">
                      <label class="form-label" for="basic-default-fullname" >Nguồn Gốc</label>
                      <input type="text" class="form-control" id="basic-default-fullname" placeholder="vd: Mỹ..." th:field="*{origin}"/>
                    </div>
                    <div class="col-12 h-100">
                      <button type="submit" class="btn btn-primary" style="position: absolute; bottom: 5%">Thêm</button>
                      <button type="submit" class="btn btn-danger" style="position: absolute; bottom: 5%; left: 11%" th:formaction="@{/admin/brandList}">Thoát</button>
                    </div>
                  </form>
                </div>
              </div>
              <!-- Basic Layout -->
            </div>
            <!-- / Content -->
	</main>
</body>
</html>