<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin-page/layout/index :: dynamic(~{::main})}">

<body>
	<main>
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="javascript:void(0);">Sản Phẩm</a>
                </li>
                <li th:if="${status == 0}" class="breadcrumb-item active" id="breadcrumb-item">Thêm khuyến mãi</li>
                <li th:if="${status == 1}" class="breadcrumb-item active" id="breadcrumb-item">Sửa khuyến mãi</li>
              </ol>

              <!-- Basic Layout -->
              <div class="card" style="height: 495px">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h5 th:if="${status == 0}" class="mb-0 text-uppercase">Thêm khuyến mãi</h5>
                  <h5 th:if="${status == 1}" class="mb-0 text-uppercase">Sửa khuyến mãi</h5>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-4">
                     
                      <form th:if="${status == 1}" class="row" th:object="${discount}" th:action="@{update/save}" method="post">
                        <div class="col-12 mb-3">
                          <label class="form-label" for="basic-default-fullname">Mã khuyến mãi:</label> 
                          <input
                            type="text"
                            name="discountId"
                            class="form-control"
                            id="basic-default-fullname"
                            placeholder="vd: TH001..."
                            readonly
                            th:field="*{discountId}" required/>
                        </div>
                        <div class="col-12 mb-3">
                          <label class="form-label" for="basic-default-fullname">Mô tả :</label> 
                          <input
                            type="text"
                            name="description"
                            class="form-control"
                            id="basic-default-fullname"
                            placeholder="vd: sản phẩm tuyệt vời."
                            th:field="*{description}" required/>
                        </div>
                        <div class="col-12 mb-3">
                          <label class="form-label" for="basic-default-password32">Phần trăm khuyến mãi:</label>
                          <div class="input-group input-group-merge">
                            <input
                              type="number"
                              name="discountRate"
                              class="form-control"
                              id="basic-default-password32"
                              placeholder="vd: 10"
                              th:field="*{discountRate}" 
                              required />
                            <span class="input-group-text cursor-pointer" id="basic-default-password">%</span>
                          </div>
                        </div>
                        <div class="col-12 mb-3">
                          <label class="form-label" for="basic-default-fullname">Ngày bắt đầu</label>
                          <input type="datetime-local"
                          name="startDate"
                          th:field="*{startDate}" 
                          class="form-control" 
                          id="basic-default-fullname" 
                          required/>
                        </div>
                        <div class="col-12 mb-3">
                          <label class="form-label" for="basic-default-fullname">Ngày kết thúc</label>
                          <input type="datetime-local"
                          name="endDate"
                          th:field="*{endDate}" 
                          class="form-control" 
                          id="basic-default-fullname" 
                          required/>
                        </div>
                        <div class="col-12 h-100">
                          <button type="submit" class="btn btn-primary" style="position: absolute; bottom: 5%; left: 50%">
                            Thêm
                          </button>
                          <a
                          	th:href="@{/admin/discount}"
                            type="button"
                            class="btn btn-danger"
                            style="position: absolute; bottom: 5%; left: 75%"
                          >Thoát
                          </a>
                        </div>
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
                      </form>
                      <form th:if="${status == 0}" class="row" th:object="${discount}" th:action="@{add/save}" method="post">
                        <div class="col-12 mb-3">
                          <label class="form-label" for="basic-default-fullname">Mã khuyến mãi:</label> 
                          <input
                            type="text"
                            name="discountId"
                            class="form-control"
                            id="basic-default-fullname"
                            placeholder="vd: TH001..."
                            th:field="*{discountId}" required/>
                        </div>
                        <div class="col-12 mb-3">
                          <label class="form-label" for="basic-default-fullname">Mô tả :</label> 
                          <input
                            type="text"
                            name="description"
                            class="form-control"
                            id="basic-default-fullname"
                            placeholder="vd: sản phẩm tuyệt vời."
                            th:field="*{description}" required/>
                        </div>
                        <div class="col-12 mb-3">
                          <label class="form-label" for="basic-default-password32">Phần trăm khuyến mãi:</label>
                          <div class="input-group input-group-merge">
                            <input
                              type="number"
                              name="discountRate"
                              class="form-control"
                              id="basic-default-password32"
                              placeholder="vd: 10"
                              th:field="*{discountRate}" 
                              required />
                            <span class="input-group-text cursor-pointer" id="basic-default-password">%</span>
                          </div>
                        </div>
                        <div class="col-12 mb-3">
                          <label class="form-label" for="basic-default-fullname">Ngày bắt đầu</label>
                          <input type="datetime-local"
                          name="startDate"
                          th:field="*{startDate}" 
                          class="form-control" 
                          id="basic-default-fullname" 
                          required/>
                        </div>
                        <div class="col-12 mb-3">
                          <label class="form-label" for="basic-default-fullname">Ngày kết thúc</label>
                          <input type="datetime-local"
                          name="endDate"
                          th:field="*{endDate}" 
                          class="form-control" 
                          id="basic-default-fullname" 
                          required/>
                        </div>
                        <div class="col-12 h-100">
                          <button type="submit" class="btn btn-primary" style="position: absolute; bottom: 5%; left: 50%">
                            Thêm
                          </button>
                          <a
                           th:href="@{/admin/discount}"
                            type="button"
                            class="btn btn-danger"
                            style="position: absolute; bottom: 5%; left: 75%"
                          >Thoát
                          </a>
                        </div>
                      </form>
                    </div>
                    <div class="col-8">
                      <div class="row" style="height: 250px">
                        <h5>Chọn sản phẩm áp dụng khuyến mãi này</h5>
                        <div class="col-6 mb-3">
                          <label for="defaultSelect" class="form-label">Sản phẩm</label>
                          <select id="selectProduct" class="form-select">
                            <option value="0">Chọn sản phẩm</option>
                            <option th:each="p : ${list}" th:value="${p.productId}"
                            th:text="${p.productId + '  -  ' + p.productName}">sp</option>
                          </select>
                        </div>
                        <div class="col-6 mb-3">
                          <label for="defaultSelect" class="form-label">Loại sản phẩm</label>
                          <select id="selectCategory" class="form-select">
                            <option value="0">Chọn loại sản phẩm</option>
                             <option th:each="p : ${listCategory}" th:value="${p.categoryId}"
                            th:text="${p.categoryId + '  -  ' + p.categoryName}">sp</option>
                          </select>
                        </div>
                        <div class="table-responsive text-nowrap h-100">
                          <table class="table table-sm">
                            <thead>
                              <tr>
                                <th style="width: 30px">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
                                    <label class="form-check-label" for="defaultCheck1"> </label>
                                  </div>
                                </th>
                                <th>STT</th>
                                <th>Tên sản phẩm</th>
                                <th>Xóa</th>
                              </tr>
                            </thead>
                            <tbody class="table-border-bottom-0" id="tblPrd">
                              <tr th:each="p, iterationStat: ${productsOfDiscount}">
                                <td>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" />
                                    <label class="form-check-label" for="defaultCheck2"> </label>
                                  </div>
                                </td>
                                <td th:text="${iterationStat.count}">1</td>
                                <td th:text="${p.productName}">Sản phẩm 01</td>
                                <td>
                                  <button
                                    style="border: none; cursor: pointer;"
                                    class="ps-2"
                                    onclick="deleteProduct('/*[[${p.productId}]]*/')"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modalToggle"
                                    ><i class="bx bx-trash"></i
                                  ></button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Basic Layout -->
            </div>
            <!-- / Content -->
	</main>
</body>
</html>