<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin-page/layout/index :: dynamic(~{::main})}">

<body>
	<main>
		<!-- Content -->
		<div class="container-xxl flex-grow-1 container-p-y">
			<ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a th:href="@{/admin/employeeList?page=0}">Danh Sách nhân viên</a>
                </li>
                <li class="breadcrumb-item active" th:text="${title}"></li>
              </ol>
			<!-- Button trigger modal -->

			<!-- Basic Layout -->
			<div class="card">
				<div class="table-responsive text-nowrap">
					<div class="container"
						style="width: 95%; margin: 0 auto; margin-top: 50px">
						<form class="row" th:object="${employee}"
							th:action="@{|/admin/employeeUpdate/update/${employeeId}|}" enctype="multipart/form-data" method="post">
							<h4>Thông tin</h4>
							<div class="row mb-5">
								<div class="col-12">
									<div class="row coll">
										<div class="col-12">
											<div class="profile-picture mb-5"
												style="margin: auto; box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;">
												<img id="avatar" th:src="@{${image}}" class="rounded-circle"
													style="width: 200px; height: 200px;">
												<div class="edit-overlay">
													<label for="avatar-upload" id="edit-avatar">Chỉnh
														sửa</label> <input type="file" name="avatar" id="avatar-upload"
														accept="image/*" style="display: none;">
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group" style="margin-bottom: 20px;">
												<label for="name" style="font-weight: bold;">Họ Tên:</label>
												<input type="text" class="form-control"
													th:field="*{employeeName}" id="name"
													placeholder="Nhập họ tên">
											</div>
										</div>
										<div class="col-6">
											<div class="form-group" style="margin-bottom: 20px;">
												<label for="dob" style="font-weight: bold;">Ngày
													sinh:</label> <input type="date" class="form-control" id="dob"
													name="birthdayString" th:field="*{birthdayString}">
											</div>
										</div>
										<div class="col-6">
											<div class="form-group" style="margin-bottom: 20px;">
												<label style="padding-bottom: 10px; font-weight: bold;">Giới
													tính:</label><br>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio" name="gender"
														id="genderMale" value="true"
														th:checked="${gender == true}" th:field="*{gender}">
													<label class="form-check-label" for="genderMale">Nam</label>
												</div>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio" name="gender"
														id="genderFemale" value="false"
														th:checked="${gender == false}" th:field="*{gender}">
													<label class="form-check-label" for="genderFemale">Nữ</label>
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group" style="margin-bottom: 20px;">
												<label for="phone" style="font-weight: bold;">Số
													điện thoại:</label> <input type="text" class="form-control"
													id="phone" placeholder="Nhập số điện thoại nhân viên"
													th:field="*{phoneNumber}">
											</div>
										</div>
										<div class="col-12">
											<div class="form-group" style="margin-bottom: 20px;">
												<label for="address">Địa Chỉ:</label> <input type="text"
													class="form-control" id="address" style="height: 40px"
													th:value="${address.numberHome + ', ' + address.ward + ', ' + address.district + ', ' + address.city}"
													disabled />
												<!-- Button trigger modal -->
												<a class="text-primary" data-bs-toggle="modal"
													data-bs-target="#exampleModal"> *Thay đổi địa chỉ*</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<h4>Tài Khoản</h4>
							<div class="row mb-5">
								<div class="col-12">
									<div class="row coll">
										<div class="col-6">
											<div class="form-group" style="margin-bottom: 20px;">
												<label for="username" style="font-weight: bold;">Tên
													Đăng Nhập:</label> <input type="text" class="form-control"
													id="username" placeholder="Nhập username"
													th:field="*{account.username}" disabled>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group" style="margin-bottom: 20px;">
												<label for="password" style="font-weight: bold;">Mật
													Khẩu:</label> <input type="text" class="form-control" id="password"
													placeholder="Nhập password" th:field="*{account.password}">
											</div>
										</div>
										<div class="col-6">
											<div class="form-group" style="margin-bottom: 20px;">
												<label for="email" style="font-weight: bold;">Email:</label>
												<input type="email" class="form-control" id="email"
													placeholder="Nhập email" th:field="*{account.email}">
											</div>
										</div>
										<div class="col-6">
											<div class="form-group" style="margin-bottom: 20px;">
												<label style="padding-bottom: 10px; font-weight: bold;">Role:</label><br>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio"
														id="roleAdmin" value="admin"
														th:checked="${role == 'admin'}" th:field="*{account.role}"> <label
														class="form-check-label" for="roleAdmin">Admin</label>
												</div>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio"
														id="roleEmployee" value="employee"
														th:checked="${role == 'employee'}" th:field="*{account.role}"> <label
														class="form-check-label" for="roleEmployee">Employee</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<button type="submit" class="btn btn-primary"
								style="width: 100px; height: 45px; margin-top: 50px; margin-right: 20px;">Thêm</button>
						</form>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h3 class="modal-title" id="exampleModalLabel">Thay đổi
										địa chỉ</h3>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<form class="row" th:action="@{|/admin/employee/changeAddress/${employeeId}|}">
										<div class="col-md-6 form-group mt-2">
											<label for="address">Địa Chỉ:</label> <input type="text"
												class="form-control" id="address"
												placeholder="Ví dụ: số nhà, số hẻm, tên đường,..."
												style="height: 40px" name="homeNumber" />
										</div>
										<div class="col-md-6 form-group mt-2">
											<label for="district">Tỉnh/Thành phố:</label> <select
												class="form-control" id="province" ng-model="provinceId"
												ng-change="updateProvince()"
												ng-options="province.code as province.name for province in provinces">
												<option value="" selected disabled>Chọn Tỉnh/Thành
													phố</option>
											</select>
										</div>
										<div class="col-md-6 form-group mt-2">
											<label for="district">Quận/Huyện:</label> <select
												class="form-control" id="district" ng-model="districtId"
												ng-options="district.code as district.name for district in districts"
												ng-change="updateDistrict()" ng-disabled="selectedDistrict">
												<option value="" selected disabled>Chọn Quận/Huyện</option>
											</select>
										</div>
										<div class="col-md-6 form-group mt-2">
											<label for="ward">Phường/Xã</label> <select
												class="form-control" id="ward" ng-model="wardId"
												ng-options="option.code as option.name for option in wards"
												ng-change="updateWard()" ng-disabled="selectedWard">
												<option value="" selected disabled>Chọn
													Xã/Phường</option>
											</select>
										</div>
										<button type="submit" class="btn btn-primary"
											style="width: 200px; margin-left: 14px; margin-top: 20px">Đổi
											địa chỉ</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- / Content -->
	</main>
</body>
</html>