<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin-page/layout/index :: dynamic(~{::main})}">

<body>
	<main>
		<!-- Content -->
			            <div class="container-xxl flex-grow-1 container-p-y">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="javascript:void(0);">Danh Sách</a>
                </li>
                <li class="breadcrumb-item active" th:text="${title}"></li>
              </ol>
              <!-- Button trigger modal -->

              <!-- Basic Layout -->
              <div class="card" style="height: 900px">
                <div class="table-responsive text-nowrap">
                    <div class="container" style="width: 95%; margin: 0 auto; margin-top: 50px">   
                                <form class="row" th:action="@{/admin/employeeAdd/create}" method="post">
                                    <h4>Thông tin</h4>
                                    <div class="row mb-5">
                                        <div class="col-12">
                                            <div class="row coll">
                                                <div class="col-6">
                                                    <div class="form-group" style=" margin-bottom: 20px;">
                                                        <label for="name" style=" font-weight: bold;">Họ Tên:</label>
                                                        <input type="text" class="form-control"
                                                        th:name="name" id="name" placeholder="Nhập họ tên" >
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group" style=" margin-bottom: 20px;">
                                                        <label for="dob" style=" font-weight: bold;">Ngày sinh:</label>
                                                        <input type="date" class="form-control"
                                                        id="dob" name="dob">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group" style=" margin-bottom: 20px;">
                                                        <label  style="padding-bottom: 10px; font-weight: bold;">Giới tính:</label><br>
                                                        <div class="form-check form-check-inline" >
                                                          <input class="form-check-input" type="radio" name="gender" id="genderMale"
                                                           value="true" th:checked="${gender == true}">
                                                          <label class="form-check-label" for="genderMale">Nam</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="radio" name="gender" id="genderFemale"
                                                           value="false" th:checked="${gender == false}">
                                                          <label class="form-check-label" for="genderFemale">Nữ</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group" style=" margin-bottom: 20px;">
                                                        <label for="avatar" style=" font-weight: bold;">Hình ảnh:</label> <br>
                                                        <input type="file" class="form-control-file" 
                                                        th:name="avatar" id="avatar">
                                                	</div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group" style=" margin-bottom: 20px;">
                                                        <label for="phone" style=" font-weight: bold;">Số điện thoại:</label>
                                                        <input type="text" class="form-control"
                                                        th:name="phone" id="phone" placeholder="Nhập số điện thoại nhân viên"
                                                        >
                                                    </div>                                           
                                                </div>
                                                <div class="col-6">
		                                             <div class="form-group" style=" margin-bottom: 20px;">
		                                                <label for="email" style=" font-weight: bold;">Email:</label>
		                                                <input type="email" class="form-control"
		                                                th:name="email" id="email" placeholder="Nhập email">
		                                              </div>                                       
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-3"><h4>Tài khoản</h4></div>
                                        <div class="col-1"></div>
                                        <div class="col-8"><h4>Địa chỉ</h4></div>
                                        <div class="col-3 coll">
                                            <div class="form-group" style=" margin-bottom: 20px;">
                                                <label for="username" style=" font-weight: bold;">Tên Đăng Nhập:</label>
                                                <input type="text" class="form-control"
                                                th:name="username" id="username" placeholder="Nhập username" >
                                            </div>
                                              <div class="form-group" style=" margin-bottom: 20px;">
                                                <label for="password" style=" font-weight: bold;">Mật Khẩu:</label>
                                                <input type="password" class="form-control"
                                                th:name="password" id="password" placeholder="Nhập password">
                                              </div>
                                        </div>
                                        
                                        <div class="col-1"></div>
                                        <div class="col-8 coll" >
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group" style=" margin-bottom: 20px;">
                                                        <label for="numberHome" style=" font-weight: bold;">Số nhà:</label>
                                                        <input type="text" class="form-control"
                                                        name="numberHome" id="numberHome" placeholder="Nhập số nhà" >
                                                      </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group" style=" margin-bottom: 20px;">
                                                        <label for="province" style=" font-weight: bold;">Tỉnh/Thành phố:</label> <br>
                                                        <select name="province" id="province" class="form-control">
                                                            <option  value="">Chọn Tỉnh/Thành Phố</option>
                                                        </select>
                                                      </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group" style=" margin-bottom: 20px;">
                                                        <label for="district" style=" font-weight: bold;">Quận/Huyện:</label> <br>
                                                        <select name="district" id="district" class="form-control">
                                                            <option  value="">Chọn Quận/Huyện</option>
                                                        </select>
                                                      </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group" style=" margin-bottom: 20px;">
                                                        <label for="ward" style=" font-weight: bold;">Phường:</label> <br>
                                                        <select name="ward" id="ward" class="form-control" >
                                                            <option  value="">Chọn Phường</option>
                                                        </select>
                                                      </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary" style="width: 100px; height: 45px; margin-top: 50px; margin-right: 20px;">Thêm</button>
                                   
                                </form>
                        </div>
                      </div>
                </div>
              </div>
		<!-- Basic Layout -->

		<div class="demo-inline-spacing">
			<!-- Basic Pagination -->
			<nav aria-label="Page navigation">
				<ul class="pagination">
					<li class="page-item first"><a class="page-link"
						href="javascript:void(0);"><i
							class="tf-icon bx bx-chevrons-left"></i></a></li>
					<li class="page-item prev"><a class="page-link"
						href="javascript:void(0);"><i
							class="tf-icon bx bx-chevron-left"></i></a></li>
					<li class="page-item active"><a class="page-link"
						href="javascript:void(0);">1</a></li>
					<li class="page-item"><a class="page-link"
						href="javascript:void(0);">2</a></li>
					<li class="page-item"><a class="page-link"
						href="javascript:void(0);">3</a></li>
					<li class="page-item"><a class="page-link"
						href="javascript:void(0);">4</a></li>
					<li class="page-item"><a class="page-link"
						href="javascript:void(0);">5</a></li>
					<li class="page-item next"><a class="page-link"
						href="javascript:void(0);"><i
							class="tf-icon bx bx-chevron-right"></i></a></li>
					<li class="page-item last"><a class="page-link"
						href="javascript:void(0);"><i
							class="tf-icon bx bx-chevrons-right"></i></a></li>
				</ul>
			</nav>
			<!--/ Basic Pagination -->
		</div>
		</div>
		<!-- / Content -->
	</main>
</body>
</html>