<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin-page/layout/index :: dynamic(~{::main})}">

<body>
	<main>
            <!-- Content -->
           <div class="container-xxl flex-grow-1 container-p-y">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="javascript:void(0);">Tài Khoản</a>
                </li>
                <li class="breadcrumb-item active">Thông Tin Của Tôi</li>
              </ol>
             
              <!-- Basic Layout -->
              <div class="card" style="height: 700px">
                <div class="table-responsive text-nowrap">
	                <div class="container">
						<div class="row">
							<div class="col-1"></div>
							<div class="col-10">
							<h4 class="mb-3 mt-2">Thông Tin Tài Khoản</h4>
			                  <form class="row" th:action="@{/admin/info/edit}"
								th:object="${employee}" enctype="multipart/form-data" method="post">
									<div class="col-12">
										<div class="profile-picture mb-5" style="margin: auto; 
										box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;">
											<img id="avatar" th:src="@{${image}}"
												class="rounded-circle" style="width: 200px; height: 200px;">
											<div class="edit-overlay">
												<label for="avatar-upload" id="edit-avatar">Chỉnh sửa</label> <input
													type="file" name="avatar" id="avatar-upload" accept="image/*"
													style="display: none;">
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label for="employeeName">Họ Tên</label> <input type="text"
												class="form-control" id="employeeName"
												placeholder="Nhập họ tên của bạn" th:field="*{employeeName}" />
										</div>
									</div>
									<div class="col-6">
										<div class="form-group pt-2">
											<label for="gender">Giới tính:</label> <br />
											<div class="form-check form-check-inline ml-4">
												<input class="form-check-input" type="radio" name="gender"
													id="male" value="true" th:field="*{gender}"/> <label
													class="form-check-label pl-0" for="male"> Nam </label>
											</div>
											<div class="form-check form-check-inline ml-5">
												<input class="form-check-input" type="radio" name="gender"
													id="female" value="false" th:field="*{gender}" /> <label
													class="form-check-label pl-0" for="female"> Nữ </label>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label for="birthday">Ngày sinh:</label> <input type="date"
												class="form-control" id="birthday" name="birthdayString"
												th:field="*{birthdayString}" />
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label for="inputEmail">Email</label> <input type="email"
												class="form-control" id="inputEmail"
												placeholder="Nhập Email của bạn" th:field="*{account.email}"/>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label for="phoneNumber">Số điện thoại</label> <input
												type="text" class="form-control" id="phoneNumber"
												placeholder="Nhập số điện thoại của bạn"
												th:field="*{phoneNumber}"/>
										</div>
									</div>
									<th:block th:if="${isAddress}">
										<div class="col-6">
											<div class="form-group">
												<label for="address">Địa Chỉ:</label> <input type="text"
													class="form-control" id="address"
													placeholder="Nhập số nhà, tên đường" th:field="*{address.numberHome}"/>
											</div>
										</div>
										<div class="col-4">
											<div class="form-group">
												<label for="district">Tỉnh/Thành phố:</label> <select
													class="form-control" id="province" ng-model="provinceId"
													ng-change="updateProvince()"
													ng-options="province.code as province.name for province in provinces">
													<option value="" selected disabled>Chọn Tỉnh/Thành
														phố</option>
												</select>
											</div>
										</div>
										<div class="col-4">
											<div class="form-group">
												<label for="district">Quận/Huyện:</label> <select
													class="form-control" id="district" ng-model="districtId"
													ng-options="district.code as district.name for district in districts"
													ng-change="updateDistrict()" ng-disabled="selectedDistrict">
													<option value="" selected disabled>Chọn Quận/Huyện</option>
												</select>
											</div>
										</div>
										<div class="col-4">
											<div class="form-group">
												<label for="ward">Phường/Xã</label> <select
													class="form-control" id="ward" ng-model="wardId"
													ng-options="option.code as option.name for option in wards"
													ng-change="updateWard()" ng-disabled="selectedWard">
													<option value="" selected disabled>Chọn Xã/Phường</option>
												</select>
											</div>
										</div>
									</th:block>
									<th:block th:unless="${isAddress}">
										<div class="col-6">
											<label for="address">Địa Chỉ:</label> <input type="text"
												class="form-control" id="address" style="height: 40px"
												th:value="${employee.address.numberHome + ', ' + employee.address.ward + ', ' + employee.address.district + ', ' + employee.address.city}"
												disabled />
											<!-- Button trigger modal -->
											<a class="text-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
											 *Thay đổi địa chỉ*</a>
										</div>
									</th:block>
									<button type="submit" class="btn btn-primary mr-2 ml-3">Lưu Thông Tin</button>
								</form>
							</div>
						</div>
					</div>	
					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h3 class="modal-title" id="exampleModalLabel">Thay đổi địa chỉ</h3>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					          </button>
					      </div>
					      <div class="modal-body">
						      	<form class="row" th:action="@{/admin/changeAddress}">
								<div class="col-md-6 form-group mt-2">
									<label for="address">Địa Chỉ:</label> <input type="text"
										class="form-control" id="address"
										placeholder="Ví dụ: số nhà, số hẻm, tên đường,..."
										style="height: 40px" name="homeNumber" />
								</div>
								<div class="col-md-6 form-group mt-2">
									<label for="district">Tỉnh/Thành phố:</label> <select
										class="form-control" id="province" ng-model="provinceId"
										ng-change="updateProvince()"
										ng-options="province.code as province.name for province in provinces">
										<option value="" selected disabled>Chọn Tỉnh/Thành
											phố</option>
									</select>
								</div>
								<div class="col-md-6 form-group mt-2">
									<label for="district">Quận/Huyện:</label> <select
										class="form-control" id="district" ng-model="districtId"
										ng-options="district.code as district.name for district in districts"
										ng-change="updateDistrict()" ng-disabled="selectedDistrict">
										<option value="" selected disabled>Chọn Quận/Huyện</option>
									</select>
								</div>
								<div class="col-md-6 form-group mt-2">
									<label for="ward">Phường/Xã</label> <select
										class="form-control" id="ward" ng-model="wardId"
										ng-options="option.code as option.name for option in wards"
										ng-change="updateWard()" ng-disabled="selectedWard">
										<option value="" selected disabled>Chọn Xã/Phường</option>
									</select>
								</div>
								<button type="submit" class="btn btn-primary" style="width: 200px; margin-left: 14px; margin-top: 20px">Đổi địa
									chỉ</button>
							</form>
					      </div>
					    </div>
					  </div>
					</div>
                </div>
              </div>
           </div>
            
	</main>
</body>
</html>