<div class="container-fluid pt-5">
          <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
              <div
                class="d-flex align-items-center border mb-4"
                style="padding: 30px"
              >
                <h1 style="font-weight: bolder; color: brown; font-size: 50px">
                  <i class="bi bi-check"></i>
                </h1>
                <h5 class="font-weight-semi-bold m-0" style="font-weight: bolder">
                  Sản Phẩm Chất Lượng
                </h5>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
              <div
                class="d-flex align-items-center border mb-4"
                style="padding: 30px"
              >
                <h1 style="font-weight: bolder; color: brown; font-size: 50px">
                  <i class="bi bi-truck"></i>
                </h1>
                <h5 class="font-weight-semi-bold ml-3" style="font-weight: bolder">
                  Giao Hàng Cực Nhanh
                </h5>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
              <div
                class="d-flex align-items-center border mb-4"
                style="padding: 30px"
              >
                <h1 style="font-weight: bolder; color: brown; font-size: 50px">
                  <i class="bi bi-arrow-repeat"></i>
                </h1>
                <h5 class="font-weight-semi-bold ml-3" style="font-weight: bolder">
                  Đổi Trả Trong 7 Ngày
                </h5>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
              <div
                class="d-flex align-items-center border mb-4"
                style="padding: 30px"
              >
                <h1 style="font-weight: bolder; color: brown; font-size: 50px">
                  <i class="bi bi-headset"></i>
                </h1>
                <h5 class="font-weight-semi-bold ml-3" style="font-weight: bolder">
                  Hỗ Trợ 
                </h5>
              </div>
            </div>
          </div>
    </div>