<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="dynamic(main)">
<head>
<title>Trang Chủ</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--===============================================================================================-->
<link rel="icon" type="image/png"
	th:href="@{~/user-page/images/icons/favicon.png}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{~/user-page/vendor/bootstrap/css/bootstrap.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{~/user-page/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{~/user-page/fonts/iconic/css/material-design-iconic-font.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{~/user-page/fonts/linearicons-v1.0.0/icon-font.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{~/user-page/vendor/animate/animate.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{~/user-page/vendor/css-hamburgers/hamburgers.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{~/user-page/vendor/animsition/css/animsition.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{~/user-page/vendor/select2/select2.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{~/user-page/vendor/daterangepicker/daterangepicker.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{~/user-page/vendor/slick/slick.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{~/user-page/vendor/MagnificPopup/magnific-popup.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{~/user-page/vendor/perfect-scrollbar/perfect-scrollbar.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{~/user-page/css/util.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{~/user-page/css/main.css}" />
<!--===============================================================================================-->
</head>

<body class="animsition">
	<!-- Header -->
	<div th:replace="/user-page/layout/header.html"></div>

	<!-- Cart -->
	<div th:replace="/user-page/layout/cart.html"></div>

	<!-- Content -->
    <div th:replace="${main}"></div>
	<!-- /Content -->

	<!-- Featured Start -->
	<div th:replace="/user-page/layout/featured-start.html"></div>

	<!-- Footer -->
	<div th:replace="/user-page/layout/footer.html"></div>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top"> <i
			class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!--===============================================================================================-->
	<script th:src="@{/user-page/vendor/jquery/jquery-3.2.1.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/user-page/vendor/animsition/js/animsition.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/user-page/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/user-page/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/user-page/vendor/select2/select2.min.js}"></script>
	<script th:inline="javascript">
    /*<![CDATA[*/
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next(".dropDownSelect2"),
        });
    });
    /*]]>*/
</script>
	<!--===============================================================================================-->
	<script th:src="@{/user-page/vendor/daterangepicker/moment.min.js}"></script>
	<script
		th:src="@{/user-page/vendor/daterangepicker/daterangepicker.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/user-page/vendor/slick/slick.min.js}"></script>
	<script th:src="@{/user-page/js/slick-custom.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/user-page/vendor/parallax100/parallax100.js}"></script>
	<script th:inline="javascript">
    /*<![CDATA[*/
    $(".parallax100").parallax100();
    /*]]>*/
</script>
	<!--===============================================================================================-->
	<script
		th:src="@{/user-page/vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
	<script th:inline="javascript">
    /*<![CDATA[*/
    $(".gallery-lb").each(function () {
        // the containers for all your galleries
        $(this).magnificPopup({
            delegate: "a", // the selector for gallery item
            type: "image",
            gallery: {
                enabled: true,
            },
            mainClass: "mfp-fade",
        });
    });
    /*]]>*/
</script>
	<!--===============================================================================================-->
	<script th:src="@{/user-page/vendor/isotope/isotope.pkgd.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/user-page/vendor/sweetalert/sweetalert.min.js}"></script>
	<script th:inline="javascript">
    /*<![CDATA[*/
    $(".js-addwish-b2").on("click", function (e) {
        e.preventDefault();
    });

    $(".js-addwish-b2").each(function () {
        var nameProduct = $(this).parent().parent().find(".js-name-b2").html();
        $(this).on("click", function () {
            swal(nameProduct, "is added to wishlist !", "success");

            $(this).addClass("js-addedwish-b2");
            $(this).off("click");
        });
    });

    $(".js-addwish-detail").each(function () {
        var nameProduct = $(this)
            .parent()
            .parent()
            .parent()
            .find(".js-name-detail")
            .html();

        $(this).on("click", function () {
            swal(nameProduct, "is added to wishlist !", "success");

            $(this).addClass("js-addedwish-detail");
            $(this).off("click");
        });
    });

    /*---------------------------------------------*/

    $(".js-addcart-detail").each(function () {
        var nameProduct = $(this)
            .parent()
            .parent()
            .parent()
            .parent()
            .find(".js-name-detail")
            .html();
        $(this).on("click", function () {
            swal(nameProduct, "is added to cart !", "success");
        });
    });
    /*]]>*/
</script>
	<!--===============================================================================================-->
	<script
		th:src="@{/user-page/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script th:inline="javascript">
    /*<![CDATA[*/
    $(".js-pscroll").each(function () {
        $(this).css("position", "relative");
        $(this).css("overflow", "hidden");
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on("resize", function () {
            ps.update();
        });
    });
    /*]]>*/
</script>
	<!--===============================================================================================-->
	<script th:src="@{/user-page/js/main.js}"></script>
</body>
</html>